.section-listing
  .container
    - if @services.nil?
      .services.-empty
        %h2.notice
          Add a new services
          %br>
          Create by tapping on the box buttton below
        .card-listing
          .services-card.-new{"data-target" => "#new-service", "data-toggle" => "modal"}
            %span.btn-add
              %span.ti-plus
                %br
              %p Add new Services
    - else
      .services
        - @services.each do |service|
          .card-listing
            .services-card.-enable
              .header
                %h3.title= service.name
                .actions
                  %input#checkbox1.enlist-radio{ checked: 'checked', name: 'enabled', type: 'checkbox' }
                  %label.checkbox-label{ "data-off" => "OFF", "data-on" => "ON", for: "checkbox1" }
              .details
                .contact
                  %p.field
                    %span.lbl Contact No.:
                    %span.area= service.mobile_number
                .frequency
                  %p.field
                    %span.lbl Frequency:
                    %span.area= service.frequency
                .descriptions
                  %p.message= service.description
              .footer
                .delete
                  = link_to service_path(service), method: :delete do
                    %i.ti-trash
                .settings
                  = link_to '#' do
                    %i.ti-settings
        .card-listing
          .services-card.-new{"data-target" => "#new-service", "data-toggle" => "modal"}
            .btn-add
              %span.ti-plus
              %p Add new Service
= render 'shared/dashboard/new_service_modal'
